.carrosselTitulo{
    color: var(--corDestaque2);
    background-color: var(--corFundoCabecalho);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fontPrincipal);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}
.carroselImagemImprovisada{
    height: 50vw;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.cardDescricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    align-items: center;
}
.descricaoImagem{
    width: 45%;
    height: 19vh;
}
.cardBotoes{
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex;
}
.card{
    background-color: var(--corFundoCabecalho);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    font-family: var(--fontPrincipal);
}
.descricaoTitulo{
    color: var(--corDestaque2);
    font-weight: 700;
}
.descricaoTituloLivro{
    color: var(--corDestaque1);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}
.descricaoTexto{
    font-size: 14px;
    padding: 1em 1em 1em 0;
}
.botoesItem{
    margin: 0 0.5em;
}
.botoesAncora{
    background-color: var(--corDestaque2);
    padding: 1.5em 1.4em;
    width: 31%;
    color: var(--corFundoCabecalho);
    font-weight: 700;
    text-decoration: none;
}
.estrelas{
    width: 90%;
}

@media screen and (min-width: 1024px){
    .carrosselTitulo{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 80%;
    }
    .carroselImagemImprovisada{
        height: 35vw;
    }
    .card{
        width: 50%;
        margin: 2em auto;
    }
    .botoesAncora{
        width: 21%;
    }
    .estrelas{
        width: 30%;
    }
}