/*

Link sobre o position
https://www.alura.com.br/artigos/entenda-a-propriedade-position-css

Novos comandos

O que fazer caso o elemento x seja prrenchido
x:checked{...}

Fazer algo com classe y depois de x
x~y{...}

Comando position

    permite inserir outros atributos como top, left, right e bottom, que são, respectivamente, topo, esquerda, 
    direita e baixo.
    position: relative;

    permite movimentar o elemento de acordo com outro que veio antes ou que é o "pai", e que esteja em uma 
    position diferente de "estática", que é a padrão.
    position: absolute

    padrão: apenas segue o fluxo junto dos outros elementos da página normalmente, tendo o canto superior esquerdo como referência.
    position: static;

    o elemento que recebeu esta propriedade não se mova na tela. Mesmo que uma página tenha rolamento (scroll). Ao 
    utilizarmos o rolamento para esquerda e direita, ou para cima e para baixo, o elemento não se move (precisa dizer
    a posição dos lados).
    position: fixed;

    posição inicial
    position: initial;

Omitir elementos
display: none;

Preencher toda a margem (dentro de flex)
margin-x:auto;
(x= lado)

Transformar texto
text-transform:...;
-uppercase: transformar em maiúsculo

*/
.cabecalhoMenuHamburguer{
    width: 30px;
    height: 30px;
    background-image: url("../Assets/iconMenu.png");
    background-size: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho{
    background-color: var(--corFundoCabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    font-family: var(--fontPrincipal);
}
.containerImagem{
    padding: 1em;
    width: 32px;
}
.listaMenu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.containerBotao:checked~.listaMenu{
    display: block;
}
.listaMenuTitulo, .listaMenuItem{
    padding: 1em;
    background-color: var(--corFundoCabecalho);
}
.listaMenuTitulo{
    color: var(--corDestaque1);
    font-weight: 700;
}
.listaMenuLink{
    color: var(--corDestaque2);
    text-transform: uppercase;
    text-decoration: none;
}
.containerBotao{
    display: none;
}
.containerTitulo{
    display: none;
}
.opcoes{
    display: none;
}
.containerTexto{
    display: none;
}

@media screen and (min-width: 724px){
    .containerTitulo, .containerTituloNegrito{
        font-family: var(--fontSecundaria);
        font-size: 30px;
    }
    .containerTitulo{
        font-weight: 400;
        display: block;
    }
    .containerTituloNegrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
        font-family: var(--fontPrincipal);
    }
    .opcoesItem{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoesLink{
        text-decoration: none;
        color: var(--corPreto);
    }
    .transparente{
        display: none;
    }
    .opcoesBotao:checked~.listaMenu{
        display: block;
        width: auto;
    }
    .opcoesBotao{
        display: none;
    }
    
}
@media screen and (min-width: 1300px){
    .containerLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--corPreto);
    }
    .containerTexto{
        display: block;
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-right: auto;
    }
}